.banner {
    position: relative;
    margin: 0;
    height: 300px;
    background-image: url('../../assets/bank-tree.webp');
    background-position: 0 -50px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .banner figcaption {
    position: relative;
    top: 2rem;
    margin: 0 auto;
    padding: 2rem;
    width: 200px;
    background: white;
    text-align: left;
  }
  
  .subtitle {
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .text {
    margin-bottom: 0;
    font-size: 0.9rem;
  }
  
  @media (min-width: 920px) {
    .banner {
      height: 400px;
      background-position: 0% 33%;
    }
  
    .banner figcaption {
      position: absolute;
      top: 50px;
      right: 50px;
      margin: 2rem;
      width: 300px;
    }
  
    .subtitle  {
      font-size: 1.5rem;
    }
  
    .text {
      font-size: 1.2rem;
    }
  }
  