.banner {
  position: relative;
  margin: 0;
  height: 300px;
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;

  img {
    width: 100%;
    height: 400px;
  }

  figcaption {
    position: relative;
    top: 2rem;
    margin: 0 auto;
    padding: 2rem;
    width: 200px;
    background: white;
    text-align: left;
  }

  b {
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
  }

  p {
    margin-top: 19px;
    margin-bottom: 0;
    font-size: 0.9rem;
  }

  @media (min-width: 920px) {
    height: 400px;
    background-position: 0% 33%;

    figcaption {
      position: absolute;
      top: 50px;
      right: 50px;
      margin: 2rem;
      width: 300px;
    }

    b {
      font-size: 1.5rem;
    }

    p {
      font-size: 1.2rem;
    }
  }
}