[id="features"] {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    align-items: center;
    padding: 40px;
    margin: 0;
  
  
    img {
      padding: 1rem;
      border: 10px solid #00bc77;
      border-radius: 50%;
      width: 100px;
      color: black;
    }
  
    h2 {
      margin-top: 1.6rem;
      margin-bottom: 0.5rem;
      color: #222;
      font-size: 1.25rem;
      font-weight: bold;
      white-space: nowrap;
    }

    figcaption {
      text-align: center;
    }
  
    @media (max-width: 920px) {
    [id="features"] {
      flex-direction: column;
      padding: 50px;
}
}

    @media (max-width: 767px) {
    [id="features"] {
      padding: 20px;
    }
  }
}