[id=profile] {
  display: flex;
  flex-direction: column;

  header {
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    color: white;
    font-size: 2em;
    margin: 20px 0;
  }

  .user button {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 2rem;
    width: 90px;
  }
}