[id="nav"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  
    ul {
      margin-right: 0.3rem;
      font-weight: bold;
      color: black;
    }
  
    li {
      display: flex;
      gap: 10px;
    }
  
    a {
      display: flex;
      gap: 5px;
      text-decoration: none;
      align-items: center;
      color: black;
  
      span {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    img {
      max-width: 100%;
      width: 200px;
    }
  }
  
  @media (max-width: 641px) {
    [id="nav"] {
      a {
        white-space: nowrap;
        font-size: 0.9rem;
      }
    }
  }